<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

<center>
<h3 class="progred">PROG<b>RED</b></h3>
	<h1 class="codered">CODE<b style="color:#ff0000;">RED</b></h1>
	<h2 class="page-heading">{{ problem.name }}</h2>
		<a href="../problems" class="button">Problem Set</a>

	<div class="problem">
		<p class="ann2">Code: {{ problem.code }}</p>
		<p class="ann2">Total Accepted Users: {{ problem.accepted }}</p>
		<p class="ann2">Total Submissions: {{ problem.total }}</p>
		<a class="ann2" href="../../pdf/{{ problem.code }}.pdf">Click Here For Problem Statement!</a>
	</div>

	<a href="../submit/{{ problem.code }}" class="button">Submit!</a>
</center>

</body>
</html>